body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#buttons button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    background-color: #ff4081;
    color: white;
    border-radius: 8px;
}

#buttons button:hover {
    background-color: #f50057;
}

canvas {
    margin-top: 20px;
    display: none;
    width: 200px;
    height: 200px;
}
